.header-nav-wrapper {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;

	list-style: none;
}

.header-nav-wrapper > li::after {
	content: "";
	width: 0%;
	height: 1px;

    margin: auto;

	display: block;

	background-color: black;

	transition: all 0.3s ease;
}

.header-nav-wrapper > li:hover::after {
	width: 100%;
}

.header-nav-wrapper > li > a,
.header-nav-wrapper > li > a:visited {
	text-decoration: none;
	color: black;
}
